.mainInput {
  margin-left: 40px;
}

.inputPassword {
  display: flex;
  flex-direction: row;
}

.inputPassword input {
  padding: 8px;
  border-style: solid;
  border-width: thin;
}

.requirements ul {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.requirements div {
  flex: 50%;
}

.metRequirement {
  text-decoration: line-through;
}

.showButton {
  display: inline;
  background-color: rgb(241, 238, 238);
  border-style: solid;
  border-width: thin;
  border-color: rgb(179, 177, 177);
  padding: 6px;
}

.showButton label {
  font-size: 16px;
}
